<div style="float:right;width:200px;height:20px;">

  <button id="nextBtn" onclick="nightFall()" style="width:200px;height:20px;">Next</button>
</div>
<script>

var players = {{{csv.players}}};//['wolf','villager','villager','villager','wolf','villager','villager','hunter','wolf'];

var deadNightList ={{{csv.night}}};
var deadDayList ={{{csv.day}}};
var savePerson = {{{csv.savePerson}}};
var sheriffList = {{{csv.sheriffList}}};
var lovers = {{{csv.lovers}}};
</script>
